/* my_bio_style.css*/

body{
  background: #efeee7;
  font: normal 12px Georgia, Times New Roman, Times, serif;
  color: #333333;
  margin-top: 0%;
  padding: 0%;
  }

#container{
  width:1024px;
  margin: 0 auto;
}

h1{
  text-align: center;
  color: #eee;
  font-size: 28px;
  background-color: #333333;
  margin-top: 0%;
  margin-left: 0%;
  }

h3{
  font-size: 24px;
  margin-top: 2%;
  margin-left: 5%;
  margin-bottom: 0%;
  font-weight: bold;
  color : blue;
  }

#bio-image{
  font-size: 18px;
  border: #000000 1px solid;
  float: left;
  margin-left: 3%;
  margin-right: 3%;
  padding: 0%;
  }

#f1-caption{
  font-size: 14px;
  float: left;
  margin-left: -158px;
  margin-right: 8px;
  margin-top: 130px;
  padding: 0%;
}

#bio-main{
  font-size: 18px;
  width: 650px;
  float: left;
  margin-left: 0%;
  margin-top: 0%;
  padding: 8px;
  font-family: Helvetica, Arial, sans-serif; 
  }

#bio-info{
  font-size: 18px;
  width: 650px;
  float: left;
  margin-top: 0%;
  margin-left: 0%;
  padding: 8px;
  font-family: Helvetica, Arial, sans-serif; 
  }



ul{
  border: 2px solid;
  border-color: blue;
  list-style-position:inside;
  width: 265px;
  height: 65px;
  margin-top: 0%;
  margin-left: 5%;
  padding: 10px; 
  }

    

table{  
  /* color: #333; Lighten up font color */
  font-family: Helvetica, Arial, sans-serif; 
  width: 640px; 
  border-collapse: 
  collapse; border-spacing: 0; 
  margin-top:20%;
  margin-left: .5%;
  }

td, th{border: 1px solid #6E6767; height: 30px; } /*#020202  #B9B5B5 #6E6767 */

th{  
  background: #B8B1B1; 
  font-weight: bold; 
  }

td{  
   background: #FAFAFA; 
   text-align: center; 
  }



