/* my_bio_style.css*/

body{
  font: normal 14px Georgia, Times New Roman, Times, serif;
  color: #333333;
  background-color: #efeee7;
  margin-top: 0;
  padding: 0;
  }

#container{
  width:1024px;
  margin: 0 auto;
}

header{
  background-color: #333333;
}

h1{
  text-align: center;
  color: #fafafa;
  font-size: 28px;
  background-color: #333333;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  }

h3{
  font-weight: bold;
  color : #e6255a;
  margin-top: 2%;
  margin-left: 0%;
  margin-bottom: 0%;
  }

#bio-image{
  border: #000000 1px solid;
  float: left;
  margin-top: 0;
  margin-left: 3%;
  margin-right: 3%;
  padding: 0%;
  }

#f1-caption{
  font-size: 14px;
  float: left;
  margin-left: -158px;
  margin-right: 8px;
  margin-top: 130px;
  padding: 0%;
}

#bio-main{
  width: 650px;
  float: left;
  margin-top: 0;
  margin-left: 20%;
  padding: 8px;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif; 
  }

#bio-info{
  width: 650px;
  float: left;
  margin-left: 20%;
  padding: 8px;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif; 
  }



ul{
  border: 2px solid;
  border-color: #e6255a;
  list-style-position:inside;
  width: 215px;
  height:55px;
  margin-top: 0;
  margin-left: 0;
  padding: 5px; 
  }

    

table{  
  color: #333; /* Lighten up font color */
  font-family: Helvetica, Arial, sans-serif; 
  width: 650px; 
  border-collapse: 
  collapse; border-spacing: 0; 
  margin-top: 18%;
  margin-left: 20%;
  }

td, th{border: 1px solid #CCC; height: 30px; } 

th{  
  background: #F3F3F3; 
  font-weight: bold; 
  }

td{  
   background: #FAFAFA; 
   text-align: center; 
  }


